p Prezado Candidato(a),
 
p É com grande satisfação que queremos apresentar a plataforma Voto Como Vamos que foi desenvolvida pelo movimento Porto Alegre Como Vamos, com o objetivo de aproximar eleitor e candidato nessas eleições de 2012 para Vereador e Prefeito. Na próxima quinta-feira, dia 2 de agosto, a partir das 20 horas realizaremos um evento de lançamento da plataforma no Nós Coworking. O convite encontra-se abaixo.
 
p Nessa plataforma, que é gratuita e aberta, você pode inserir suas propostas de campanha, ter um perfil online e um canal aberto de interação com o eleitor. O foco da plataforma são as propostas inseridas pelos candidatos, por isso na página inicial, consta um ranking de propostas mais discutidas para que o eleitor tenha a possibilidade de interagir com elas.
 
p Se você está recebendo este e-mail, é porque o solicitamos junto ao seu partido, a você pessoalmente, ou ele foi obtido por ferramentas online de busca. É por ele que você pode acessar a plataforma a partir deste link #{link_to 'AQUI', new_candidate_ownership_url(@candidate.obfuscated_slug)} onde será solicitado que você leia os Termos de Uso e participe inserindo suas propostas de campanha. Se você não é um candidato, por favor nos informe respondendo a este e-mail. 
 
p O site já conta com suas informações básicas e públicas divulgadas pelo TSE, que estão à disposição do público para consultar. Suas propostas podem ser inseridas diretamente por você ou pelo seu assessor, pois trata-se de informações de campanha, das quais nos eximimos o dever de acompanhar, constatar veracidade ou julgar.
 
p Se você tiver dúvidas, podes enviar-nos um e-mail para contato@votocomovamos.com.br
 
p Caso não seja do seu interesse participar da plataforma, solicitamos que registre essa intenção nos respondendo este e-mail para nos informar.

= image_tag 'convite_lancamento.jpg'

p Mais informações:
 
p Voto Como Vamos | http://voto.poacomovamos.org/

p Porto Alegre Como Vamos | http://blog.poacomovamos.org/ | https://www.facebook.com/poacomovamos

