p Prezado Candidato(a),

p Identificamos um erro no link enviado ontem. Este erro já foi corrigido.

p Por favor acesse #{link_to 'AQUI', new_candidate_ownership_url(@candidate.obfuscated_slug)} para reivindicar o seu perfil de candidato.

p Este link é único e gerado aleatoriamente. Porém, todas as pessoas que acessarem este link poderão administrar o seu perfil no aplicativo. Portanto, tenha cuidado com quem você compartilha esta informação.

p Qualquer dúvida ou sugestão: contato@votocomovamos.com.br
