p Passadas as eleições que definiram o prefeito e os vereadores de Porto Alegre até 2016, o Projeto Voto Como Vamos quer trocar uma ideia contigo. Muita gente nos perguntou, ao longo do período eleitoral, se durante os mandatos nossa intenção era seguir com as ações e se a plataforma permaneceria no ar.

p Bom, pra essa pergunta, a resposta é sim. A vontade sempre foi essa. Afinal, é no mandato que as propostas, as ideias, as palavras dos candidatos viram verdade ou não.

p Mas, pra colocar isso em prática, nós também temos perguntas para fazer, que vão guiar nossas futuras ações. Baseado no que tu responderes, a gente vai acompanhar como a cidade será administrada. Então, vamos lá? É rapidinho.
p Acesse o link para responder a pesquisa: https://www.surveymonkey.com/s/votocomovamos


p Qualquer dúvida, nos mandem um e-mail para contato@votocomovamos.com.br

p * O Projeto Voto Como Vamos criou um aplicativo de acompanhamento do processo eleitoral onde os candidatos inseriram as suas propostas e todos puderam interagir. Foram criados espaços presenciais de discussão sobre eleições, política e sobre o queremos para Porto Alegre.
