meta property="fb:admins" content="1342219259"
meta property="og:site_name" content="Voto Como Vamos"
meta property="og:image" content="#{asset_path('logo.png')}" 
meta property="og:type" content="activity"
meta property="og:url" content="http://#{request.host}:#{request.port.to_s + request.fullpath}"
- if !@proposal.nil?
  meta property="og:title" content="#{@proposal.title}"
  meta property="og:description" content="#{@proposal.abstract}" 
