/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@charset "utf-8";
@import "colors.css.scss";
@import "mixins.css.scss";

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  color: #373737;
}
ul {
  list-style: none;
}

body {
  &.fundoazul{
    @include background(url('/assets/bg_body.jpg'));
  }
  &.fundoverde {
    @include background(url('/assets/bg_body_verde.jpg'));
  }
  &.fundovermelho {
    @include background(url('/assets/bg_body_vermelho.jpg'));
  }
  &.fundocinza {
    @include background(url('/assets/bg_body_cinza.jpg'));
  }
}

/*GERAL - atribui 1000 pixels a interface e a centraliza no browser*/
#geral {
  width: 1000px;
  margin: auto;
  display: table;
  background-color: #FFF;
  &.internas  {
    margin-top: 10px;
  }
}

.ativo  {
  font-weight: bold;
  text-decoration: underline;
}
.negrito {
  font-weight: bold;
  color: #000;
}

#topo {
  height: 60px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid gray;
}

#header {
  width: 1000px;
  margin: auto;
  position: relative;
}

#logo {
  width: 185px;
  float: left;
  margin-top: 7px;
  text-align: center;
  img {
    width: 185px;
  }
}

/*BAIXO*/
#baixo {
  background-color: #FFF;
  display: table;
  padding-bottom: 20px;
}
/*ESQUERDA*/
#esquerda {
  float: left;
  width: 695px;
  display: table;
  &.interface2 {
    width: 240px;
    margin-left: 50px;
    float: left;
    display: table;
  }
}

/*DIREITA*/
#direita {
  width: 305px;
  float: left;
  display: table;
  &.interface2 {
    width: 700px;
    float: left;
    display: table;
  }
}

