/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@charset "utf-8";
@import "colors.css.scss";
@import "mixins.css.scss";

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  color: #373737;
}

ul {
  list-style: none;
}

h4 a {
  text-decoration: underline;
  font-size: 16px;
}

body {
  &.fundoazul{
    @include background(url('/assets/bg_body.jpg'));
  }
  &.fundoverde {
    @include background(url('/assets/bg_body_verde.jpg'));
  }
  &.fundovermelho {
    @include background(url('/assets/bg_body_vermelho.jpg'));
  }
  &.fundocinza {
    @include background(url('/assets/bg_body_cinza.jpg'));
  }
}

.linkbold {
  font-weight: bold;
  &:hover.linkbold {
    text-decoration: underline;
  }
}

.checkboxes {
  width: 385px;
  padding-left: 10px;
  height: 110px;
  margin: auto;
  background-image: url('/assets/bg_checkboxes.jpg');
  padding-top: 15px;
  margin-bottom: 20px;
  div {
    float: left;
    width: 95px;
    line-height: 25px;
    &.filtrar {
      width: 98%;
      margin: auto;
      text-align: center;
      margin-top: 5px;
      a {
        font-size: 16px;
        color: #000;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .tagstexto {
    margin-top: -1px;
    padding-left: 3px;
    font-size: 11px;
    color: #000;
  }
  input {
    border: 1px solid #000;
    width: 12px;
    height: 12px;
    background: none;
  }
}

td.active {
  font-weight: bold;
}
.current {
  color: #487ab0;
  font-size: 20px;
}
.disabled, .gap {
  color: #666;
}

.abc {
  width: 870px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  height: 48px;
  color: #fff;
  font-size: 16px;
}
.abc a {
  font-size: 16px;
  color: #679b15;

}

.editar {
  padding-bottom: 5px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

/*GERAL - atribui 1000 pixels a interface e a centraliza no browser*/
#geral {
  width: 1000px;
  margin: auto;
  display: table;
  background-color: #FFF;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  margin-bottom: 20px;
}

.ativo {
  font-weight: bold;
  text-decoration: underline;
}
.negrito {
  font-weight: bold;
  color: #000;
}

#topo {
  height: 60px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#header {
  width: 1000px;
  margin: auto;
  position: relative;
}

#logo {
  width: 185px;
  float: left;
  margin-top: 7px;
  text-align: center;
  img {
    width: 185px;
  }
}
/*CAPA*/
.capa {
  width: 168px;
  margin-top: 5px;
  margin-bottom: 30px;
  height: 30px;
  margin-left: 0px;
  div {
    height: 28px;
    background-image: url('/assets/balaozinho.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    min-width: 68px;
    padding-top: 2px;
    float: left;
    margin-right: 15px;
    p, img {
      float: left;
    }
  }
  p {
    width: 34px;
    text-align: center;
  }
}

/*MENU*/
#menu {
  float: left;
  margin-left: 40px;
  margin-top: 15px;
  text-align: center;
  li {
    float: left;
    width: 80px;
    margin-left: 20px;
  }
}

/*CONTEUDO*/
#conteudo {
  margin-bottom: 30px;
  padding: 32px 20px 0 10px;
  &.interface2 {
    padding-left: 0px;
  }
  p {
    text-align: justify;
    line-height: 20px;
    margin-bottom: 10px;
    &.acesse {
      margin-bottom: 3px;
      width: 400px;
    }
    &.counter {
      text-align: right;
      width: 68;
      display: block;
    }
  }
  h2 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

/*BAIXO*/
#baixo {
  background-color: #FFF;
  display: table;
  padding-bottom: 20px;
}

/*ESQUERDA*/
#esquerda {
  float: left;
  width: 695px;
  display: table;
  margin-top: 10px;
  &.interface2 {
    width: 240px;
    margin-left: 50px;
    float: left;
    display: table;
  }
}

/*DIREITA*/
#direita {
  width: 1000px;
  float: left;
  display: table;
  position: absolute;
  background: #CBECF5;
  &.interface2 {
    width: 700px;
    float: left;
    display: table;
    position: relative;
    background: none;
  }
}

/*CREDITOS*/
.credits {
  width: 955px;
  h2 {
    font-size: 18px;
    color: #DB499B;
    margin-bottom: 10px;
  }
  #donators {
    margin-bottom: 20px;
    padding-top: 20px;
    border-top-style: solid;
    border-width: 1px;
    border-color: #cacaca;
    p {
      margin-bottom: 0px;
    }
  }
  #developers {
    .twbr {
      margin: 10px;
      text-align: center;

      img {
        max-width: 100%;
        margin: 30px 10px 0px 0px;
      }
    }
    .ebra_animake {
      max-width: 100%;
      margin: 40px 10px 0px 0px;
      padding-top: 30px;
      border-top-style: solid;
      border-width: 1px;
      border-color: #cacaca;
    }
    .ebra_animake_legenda {
      padding-top: 20px;
      margin-bottom: 21px;
    }
  }
}

div.sobre {
  margin-top: 25px;
  clear: both;
  h4 {
    margin-bottom: 5px;
  }
}

/*RODAPE*/
#rodape {
  clear: both;
  padding-top: 80px;
  padding-bottom: 60px;
  text-align: right;
  padding-left: 20px;
  padding-right: 20px;
  .loguinho {
    width: 180px;
    padding-left: 20px;
    float: left;
    img {
      width: 150px;
      float: left;
    }
  }
  a.footer_link {
    color: #d94b9d;
  }
}

address {
  font-size: 10px;
  padding-left: 20px;
  border-top: 1px solid #ccc;
  padding-top: 5px;
  float: right;
  a {
    font-size: 10px
  }
}

.saibamais {
  a {
    text-decoration: none;
    font-size: 11px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.acoes {
  width: 295px;
  margin-top: 5px;
  margin-bottom: 40px;
  height: 30px;
  float: right;
  div {
    height: 28px;
    background-image: url('/assets/balaozinho.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    min-width: 68px;
    padding-top: 2px;
    float: left;
    margin-left: 15px;
    p,  img {
      float: left;
    }
  }
  a.acao_sharefacebook {
    float: left;
  }
  p {
    width: 34px;
    text-align: center;
  }
}
