$white: rgba(255,255,255,1);
$grey: rgba(202,202,202,1);
$dark-grey: rgba(128,128,128,1);
$red: rgba(185,6,36,1);
$dark-red: rgba(116,0,21,1);
$green: rgba(118,178,22,1);
$dark-green: rgba(74,121,5,1);
