@charset "utf-8";
*{margin:0; padding:0; border:none; text-decoration:none; font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#373737; -webkit-transition: 0.2s linear all; -moz-transition: 0.2s linear all; }
ul {list-style:none;}

body.fundoazul{
  background-image:url('/assets/bg_body.jpg');
  background-color:#000;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center top;
}
body.fundoverde {
  background-image:url('/assets/bg_body_verde.jpg');
  background-color:#000;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center top;
}
body.fundovermelho {
  background-image:url('/assets/bg_body_vermelho.jpg');
  background-color:#000;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center top;
}
body.fundocinza {
  background-image:url('/assets/bg_body_cinza.jpg');
  background-color: #000;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center top;
}

/*GERAL - atribui 1000 pixels a interface e a centraliza no browser*/
#geral {
  width:1000px;
  margin:auto;
  display:table;
  background-color:#FFF;
}

#geral.internas { margin-top:10px; }

.ativo {font-weight:bold; text-decoration:underline;}
.negrito{font-weight:bold; color:#000}


#topo {
  height: 60px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid gray;
}
#header{width:1000px; margin:auto; position:relative}
#logo{width:185px; float:left; margin-top:7px; text-align:center}
#logo img{width:185px;}

#conceitual{height:280px; background-image:url('/assets/imagem_portoalegre.jpg'); background-position:center top;}
#video{width:1000px; margin:auto; padding-top:35px;}
.videos {background:rgba(50,50,50,.8); padding:5px; width:285px; float:right;}
#video a{float:right; margin-left:10px; clear:both; color:#fafafa; font-weight:bold; font-size:12px; font-family:arial, Calibri, Helvetica; display:block;}
#video a:hover{ font-weight:bold; text-decoration:underline;}

/*MENU*/

#menu {
  float: left;
  margin-left: 40px;
  margin-top: 15px;
  text-align: center;
  li {
    float: left;
    width: 80px;
    margin-left: 20px;
  }
}

#busca {
  float: left;
  margin: {
    top: 15px;
    left: 60px;
  }
  width: 260px;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9), 0 1px 3px rgba(0, 0, 0, 0.6) inset;
  background: whiteSmoke;
  .required, .input {
    display: inline
  }
  input[type=text] {
    width: 220px;
    background: whitesmoke;
    display: inline;
    margin: 3px 0 2px 2px;
    padding: 8px 5px 7px 4px;
  }
  input[type=image] {
    float: right;
    width: 20px;
    opacity: 0.5;
    margin: {
      top: 8px;
      right: 4px;
    }
  }
}

/*BAIXO*/
#baixo{background-color:#FFF; display:table; padding-bottom: 20px; }

/*DIREITA*/
#direita{width:305px; float:left; display:table}
#direita.interface2{width:700px; float:left; display:table}

#propostas_areas{
  margin-top:35px;
  width:245px;
  background-color:#CDE6ED;
  border-radius: 15px;
  -moz-border-radius: 15px; /* Implementação Mozilla */
  -webkit-border-radius: 15px; /* Implementação para browsers que renderizam via webkit */
  behavior: url(PIE.htc); /* Comportamento adicionado para renderização das propriedades acima no IE 7 e IE 8 */
  padding-top:10px;
  padding-bottom:10px;
}
#propostas_areas li{text-transform:uppercase; font-weight:bold; padding-left:15px; line-height:35px;}
#propostas_areas li a{font-family: Droid Sans, Verdana, Tahoma; color:#419EBB; font-size:20px;}
#propostas_areas li a:hover {color:#266b81}

#proposta p a {color:#FF9966; text-decoration: none}
#proposta p a:hover {color:#FF9966; text-decoration: underline;}


/*PERFIL DO CANDIDATO*/
#perfilcandidato{margin-top:35px;}
#perfilcandidato .foto{margin-bottom:20px; max-width: 100%;}
#perfilcandidato .cargo{font-size:10px; margin-bottom:5px; color:#FF9966}
#perfilcandidato .nome{font-size:14px; margin-bottom:5px; color:#FF9966}
#perfilcandidato h4.nome { font-size:10px;font-weight: normal}
#perfilcandidato .partido{font-size:10px; padding-bottom:5px; color:#FF9966}
#perfilcandidato .coligacao{font-size:10px; color:#FF9966}
#perfilcandidato .telefone{margin-top:25px; margin-bottom:25px;}
#perfilcandidato p a:hover { text-decoration: underline; }
#perfilcandidato ul{margin-bottom:10px; height:20px;}
#perfilcandidato li{line-height:16px; width:32px; font-size:10px; padding-right:10px; background-repeat:no-repeat; margin-bottom:5px; float:left}

/*PERFIL DO CANDIDATO - ACESSO RESTRITO*/
#meuperfil{margin-top:35px;}
#meuperfil .editar{margin-bottom:25px;}
#meuperfil .editar h3{margin-bottom:5px;}

#meuperfil .foto{margin-bottom:20px;}
#meuperfil .cargo{font-size:10px; margin-bottom:5px; color:#FF9966}
#meuperfil .nome{font-size:14px; margin-bottom:5px; color:#FF9966}
#meuperfil .partido{font-size:10px; padding-bottom:5px; color:#FF9966}
#meuperfil .coligacao{font-size:10px; text-decoration:underline; color:#FF9966}
#meuperfil .telefone{margin-top:25px; margin-bottom:25px;}
#meuperfil ul{margin-bottom:10px; height:20px;}
#meuperfil li{line-height:16px; width:15px; font-size:10px; padding-right:10px; background-repeat:no-repeat; margin-bottom:5px; float:left}

.maispropostas{margin-bottom:30px;}
.maispropostas a{color:#FF9966; text-decoration:none; margin-left:30px;}
.maispropostas a:hover{text-decoration:underline;}

.editar{padding-bottom:5px;}
.editar a{text-decoration:none}
.editar a:hover{text-decoration:underline}

div.sobre{margin-top:25px; clear:both;}
div.sobre h4{margin-bottom:5px;}

/*ESQUERDA*/
#esquerda{float:left; width:695px; display:table;}
#esquerda.interface2{width:240px; margin-left:50px; float:left; display:table}


/*CONTEUDO*/
#conteudo{margin-bottom:30px; padding-top:35px; padding-left:25px; padding-right:20px;}
#conteudo.interface2{padding-left:0px;}

#conteudo p {
  text-align:justify;
  line-height:20px;
  margin-bottom:10px;
}
#conteudo h2{font-size:18px;}
#conteudo h3{font-size:16px;}

#conteudo h4{font-size:14px; margin-bottom:5px;}

img.video{width:100%; height:500px;}
div.video{margin-top:30px; margin-bottom:30px;}



/*CAPA*/
.capa{width:168px; margin-top:5px; margin-bottom:30px; height:30px; margin-left:0px;}
.capa div{height:28px; background-image:url('/assets/balaozinho.jpg'); background-repeat:no-repeat; background-position:right center; min-width:68px; padding-top:2px; float:left; margin-right:15px;}
.capa div p,.capa div img{float:left;}
.capa p {width:34px; text-align:center}

h3.propostasmaisdiscutidas {
  background:url(/assets/titulo_propostasmaisdiscutidas.png);
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;
  width:315px;
  height:55px;
  margin-bottom:30px;
}

div.propostasmaisdiscutidas{margin-left:80px;}
.propostasmaisdiscutidas a.nomedaproposta{font-family: Droid Sans, Verdana; font-size:20px; color:#419EBB;}
.propostasmaisdiscutidas a.nomedaproposta:hover {color:#266b81}

.propostasmaisdiscutidas li {
  font-family: Droid Sans, Verdana;
  font-size:35px;
  color:#DB499B;
  margin-left:60px;
  vertical-align:top;
  clear:both
}

/*RESULTADOS DA BUSCA*/

.resultadosdabusca .h2, .resultadosdabusca .h2 span{color:#DB499B; font-size:20px; padding-bottom:30px;}
.resultadosdabusca .h2 span{font-weight:bold}

h3.propostas {
  background:url(/assets/titulo_propostas.png);
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;
  width:192px;
  height:54px;
  margin-bottom:20px;
  clear:both;
}

h3.candidatos {
  background:url(/assets/titulo_candidatos.png);
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;
  width:192px;
  height:54px;
  margin-bottom:20px;
  clear:both;
}

.resultado{margin-bottom:25px;}

.resultadosdabusca .titulo a{font-size:16px;text-decoration:underline; color:#419EBB}
.resultadosdabusca .titulo span{font-size:16px; color:#419EBB; font-weight:bold}
.resultadosdabusca .titulo a:hover{text-decoration:underline}

.resultadosdabusca .resumo, .resultadosdabusca .resumo span{color:#419EBB}
.resultadosdabusca .resumo span{font-weight:bold}
.resultadosdabusca .resumo a:hover{text-decoration:underline}

.paginacao{margin-bottom:30px; height:30px;}
.resultadosdabusca .paginacao li{float:left; width:25px;}
.resultadosdabusca .paginacao li a{color:#419EBB; text-decoration:none;}
.resultadosdabusca .paginacao li a:hover{text-decoration:underline;}


/*CONTEUDO - listagens*/
.listadepartidos h2{color:#660099; font-size:16px; margin-bottom:30px; margin-left:10px;}
.listadecandidatos ul{margin-left:120px; margin-right:80px;}
.listadecandidatos li{width:225px; float:left; padding-right:10px; line-height:30px;}
.listadepartidos li{width:400px; margin-left:50px; float:left; padding-right:10px; line-height:30px;}
.listadecandidatos li a {text-decoration:none; color:#578A0D}
.listadecandidatos li a:hover, .listadepartidos li a:hover{text-decoration:underline}
.listadepartidos li a{color:#373737}

.siglas{text-decoration:underline; margin-right:20px; width:55px; float:left; font-weight:bold;}
.nomedopartido{float:left; width:325px; text-decoration:none}

.abc{width:870px; margin-bottom:5px; padding-left:10px; padding-right:10px; padding-top:2px; height:48px; color:#fff; font-size:16px;}
.abc a{font-size:16px; color:#679b15;}
a.previous_page, a.next_page, .gap {font-size:16px}
td.active {font-weight: bold;}
.current { color:#487ab0; font-size:20px;}
.disabled, .gap { color:#666;}
.filtro_candidatos ul{width:290px; margin:auto}
.filtro_candidatos li{display: inline; padding-right:15px;}
.filtro_candidatos li.selecionado{font-size:16px; color:#000;}
.filtro_candidatos a{font-size:16px;}
.filtro_candidatos a:hover{text-decoration:underline}
.checkboxes{width:385px; padding-left:10px; height:110px; margin:auto; background-image:url('/assets/bg_checkboxes.jpg'); padding-top:15px; margin-bottom:20px;}
.checkboxes div{float:left; width:95px; line-height:25px;}
.checkboxes .tagstexto{margin-top:-1px; padding-left:3px; font-size:11px; color:#000;}
.checkboxes input{border:1px solid #000; width:12px; height:12px; background:none;}
.checkboxes div.filtrar {width:98%; margin:auto; text-align:center; margin-top:5px;}
.checkboxes div.filtrar a{font-size:16px; color:#000; text-decoration:none}
.checkboxes div.filtrar a:hover{text-decoration:underline;}


/*CONTEUDO - proposta*/

h2.proposta{padding-bottom:5px; margin-bottom:0px; color:#FF9966}
h3.proposta{margin-bottom:5px; margin-left:30px; color:#FF9966}

.proposta h3{padding-bottom:5px; margin-bottom:15px;}
.proposta h3 a{text-decoration:none; font-size:16px;}
.proposta h3 a:hover{text-decoration:underline;}
.proposta p, .proposta h4 { word-wrap: break-word; }
.proposta p#resumo { border-width:1px;border-style:solid;border-color:#cdcdcd; padding: 15px;}

.proposta p#resumo a {color: #FF9966}
.proposta p#resumo a:hover{text-decoration:underline;}

p.maispropostas{padding-bottom:20px;}
p.maispropostas a, p.voltaraspropostas a{ color:#FF9966; }
p.maispropostas a:hover, p.voltaraspropostas a:hover { text-decoration:underline; }
p.voltaraspropostas { float: right; padding-left:30px; }

#conteudo p.acesse{margin-bottom:3px; width:400px;}

a.linkbold{font-weight:bold}
a:hover.linkbold{text-decoration:underline}

div.proposta{margin-bottom:5px; margin-left:30px; width:620px; padding-bottom:10px; padding-top:10px; clear:both}
div.proposta p#descricao a {color: #FF9966}
div.proposta p#descricao a:hover{text-decoration:underline;}
h4 a{text-decoration: underline; font-size:16px;}

.proposta .saibamais{margin-top:10px;}
.saibamais a{text-decoration:none; font-size:11px;}
.saibamais a:hover{text-decoration:underline}

.acoes{width:295px; margin-top:5px; margin-bottom:40px; height:30px; float:right}
.acoes div{height:28px; background-image:url('/assets/balaozinho.jpg'); background-repeat:no-repeat; background-position:right center; min-width:68px; padding-top:2px; float:left; margin-left:15px;}
#conteudo p.counter{text-align: right; width:68; display:block; }
.acoes div p, .acoes div img, .acoes a.acao_sharefacebook{float:left;}
.acoes p{width:34px; text-align:center}


/*CONTEUDO - proposta - ACESSO RESTRITO*/
h4.editarproposta{width:670px; float:left; height:30px;}
.excluirproposta{padding-left:10px; width:30px; height:30px; float:right;}

.novaproposta .enviar{width:100%; text-align:center; margin-bottom:20px;}
.novaproposta .enviar li{display:inline; padding:10px;}
.novaproposta .enviar a{text-decoration:none;}
.novaproposta .enviar a:hover{text-decoration:underline; color:#000}

.novaproposta .titulo, .novaproposta .tags, .novaproposta .resumo{float:left;}
.novaproposta .titulo{width:170px;}

.novaproposta .titulo div{background-image:url('/assets/form_titulo.jpg'); background-repeat:no-repeat; width:170px; height:40px;}
.novaproposta .resumo div{background-image:url('/assets/form_resumo.jpg'); background-repeat:no-repeat; width:250px; height:40px;}
.novaproposta .descricao div{background-image:url('/assets/form_colunainteira.jpg'); background-repeat:no-repeat; width:715px; height:90px;}

.novaproposta .titulo input{height:30px; padding:5px; padding-left:10px; width:160px; background:none}
.novaproposta .resumo input{height:30px; padding:5px; padding-left:10px; width:240px; background:none}
.novaproposta .descricao textarea{height:65px; min-height:65px; max-height:65px; padding:10px; padding-left:10px; width:700px; max-width:700px; min-width:700px; background:none;}

.novaproposta .tags{width:280px; margin-left:10px; margin-right:5px;}
.novaproposta .tags div{width:25%; float:left; line-height:14px;}
.novaproposta input{clear:both; float:left; width:15px; padding-right:4px; margin-bottom:10px;}
.novaproposta .tags div .tagstexto{margin-bottom:5px; font-size:9px; line-height:14px;}

#conteudo.novaproposta h4{margin-bottom:10px; margin-top:20px;}
.novaproposta p{margin-bottom:10px;}
.novaproposta .resumo{width:250px;}
.novaproposta .descricao{clear:both; padding-top:10px; width:715px;}

/*CREDITOS*/
.credits {width: 955px;}
.credits h2{ font-size: 18px; color: #DB499B; margin-bottom: 10px; }
.credits #donators { margin-bottom: 20px; padding-top: 20px; border-top-style:solid; border-width:1px; border-color:#cacaca;}
.credits #donators p { margin-bottom: 0px;}
.credits #developers .twbr {margin: 10px; text-align:center;}
.credits #developers .twbr img { max-width: 100%; margin: 30px 10px 0px 0px;}
.credits #developers .ebra_animake { max-width: 100%; margin: 40px 10px 0px 0px; padding-top: 30px; border-top-style:solid; border-width:1px; border-color:#cacaca;}
.credits #developers .ebra_animake_legenda {padding-top: 20px; margin-bottom: 21px;}

/*RODAPE*/
#rodape{clear:both; padding-top:80px; padding-bottom:60px; text-align:right; padding-left:20px; padding-right:20px;}
#rodape .loguinho{width:180px; padding-left:20px; float:left;}
#rodape .loguinho img{width:150px; float:left}
address{font-size:10px; padding-left: 20px; border-top:1px solid #ccc; padding-top:5px; float:right;}
address a {font-size:10px}

#rodape a.footer_link {color:#d94b9d}

