@charset "utf-8";
*{margin:0; padding:0; list-style:none; text-decoration:none; font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#999999;}
BODY{background-image:url('/assets/bg_topo.jpg'); background-repeat:no-repeat; background-position:center top;}

/*GERAL - atribui 1000 pixels a interface e a centraliza no browser*/
#geral{width:1000px; margin:auto;}

/*CLASSES GERAIS*/
.ativo{font-weight:bold; text-decoration:underline;}

/*TOPO*/
#topo{height:105px;}
#logo{width:240px; float:left; margin-top:10px; text-align:center}
#menu{width:550px; float:left;}
#menu LI{float:left; height:23px; padding-top:10px; width:90px; text-align:center; diplay:block}
#menu LI A{color:#FFF; font-size:12px; width:90px; diplay:block}
#menu LI A:HOVER{font-size:12px; text-decoration:underline}
#menu LI A.active{font-size:13px; text-decoration:underline;}
#menu UL{margin-top:72px; margin-left:125px;}
#busca{width:210px; float:left; margin-top:30px; height:38px; background-image:url('/assets/bg_busca.png'); background-repeat:no-repeat; }
#busca INPUT{margin-left:5px; margin-top:3px; height:19px; width:166px; padding:3px;}
input#buscar { border:none; }

/*BAIXO*/
#baixo{background-image:url('/assets/bg_baixo.jpg'); background-repeat:repeat-y; background-position:center top; display:table;}

/*ESQUERDA*/
#esquerda{width:240px; float:left; display:table}

/*PERFIL DO CANDIDATO*/
#perfilcandidato{margin-top:70px;}
#perfilcandidato .foto{margin-bottom:20px;}
#perfilcandidato .cargo{font-size:10px; margin-bottom:5px;}
#perfilcandidato .nome{font-size:14px; margin-bottom:5px; color:#666666;}
#perfilcandidato .partido{font-size:10px; text-decoration:underline; padding-bottom:5px;}
#perfilcandidato .coligacao{font-size:10px; text-decoration:underline;}
#perfilcandidato .telefone{margin-top:25px; margin-bottom:25px;}

#perfilcandidato LI{line-height:16px; font-size:10px; padding-left:20px; background-repeat:no-repeat; margin-bottom:5px;}
#perfilcandidato LI.facebook{background-image:url('/assets/facebook.png');}
#perfilcandidato LI.twitter{background-image:url('/assets/twitter.png');}
#perfilcandidato LI.site{background-image:url('/assets/site.png');}
#perfilcandidato LI.blog{background-image:url('/assets/blog.png');}

DIV.sobre{margin-top:25px;}
DIV.sobre H4{margin-bottom:5px;}

/*DIREITA*/
#direita{float:left; width:760px; display:table;}

/*CONTEUDO*/
#conteudo{margin-bottom:30px; padding-top:35px; padding-left:25px; padding-right:20px;}
#conteudo P{
	text-align:justify;
	line-height:20px;
	margin-bottom:10px;
}
#conteudo H2{font-size:18px;}
#conteudo H3{font-size:16px;}
#conteudo H4{font-size:14px; margin-bottom:5px;}

IMG.video{width:100%; height:500px;}
DIV.video{margin-top:30px; margin-bottom:30px;}

/*CONTEUDO - listagens*/
.abc{margin-bottom:30px; width:600px; border-bottom:1px solid #ccc; padding-bottom:5px; padding-left:15px;}
.listadecandidatos LI{width:225px;; float:left; padding-right:10px; line-height:30px;}
.listadepartidos LI{width:340px;; float:left; padding-right:10px; line-height:30px;}

.listadecandidatos LI A, .listadepartidos LI A{text-decoration:underline}
.listadecandidatos LI A:HOVER, .listadepartidos LI A:HOVER{text-decoration:none}

.negrito{font-weight:bold; color:#000}

/*CONTEUDO - proposta*/
H2.proposta{padding-bottom:5px; margin-bottom:0px;}
H3.proposta{padding-bottom:5px; margin-bottom:5px;}
H3.proposta A{font-size:16px;}
H3.proposta A:HOVER{text-decoration:underline}

P.maispropostas{padding-bottom:20px;}
P.maispropostas A, P.voltaraspropostas A{text-decoration:underline}
P.maispropostas A:HOVER, P.voltaraspropostas A:HOVER{text-decoration:none}
P.voltaraspropostas {padding-bottom:8px;}

#conteudo P.acesse{margin-bottom:3px; width:400px; border-bottom:1px solid #ccc;}

A.linkbold{font-weight:bold}
A:HOVER.linkbold{text-decoration:underline}

DIV.proposta{margin-bottom:5px; border-top:1px #999 solid; border-bottom:1px #999 solid;  padding-bottom:10px; padding-top:10px; clear:both}
.proposta .saibamais{margin-top:10px;}
.saibamais A{text-decoration:underline; font-size:11px;}
.saibamais A:HOVER{text-decoration:none}

.acoes{width:465px; margin-top:5px; margin-bottom:30px; height:30px; margin-left:250px;}
.acoes DIV{height:28px; background-image:url('/assets/balaozinho.jpg'); background-repeat:no-repeat; background-position:right center; min-width:68px; padding-top:2px; float:left; margin-left:15px;}
#conteudo P.counter{text-align:center; width:68; display:block;}
.acoes DIV P, .acoes DIV IMG{float:left;}
.acoes P{width:34px; text-align:center} 
.acoes DIV.acao_sharefacebook{width:108px;}

/*RODAPE*/
#rodape{clear:both; padding-top:80px; padding-bottom:60px; text-align:right; padding-left:20px; padding-right:20px;}
#rodape .loguinho{width:180px; padding-left:20px; float:left;}
#rodape .loguinho IMG{width:80px; float:left}
ADDRESS{font-size:10px; width:480px; border-top:1px solid #ccc; padding-top:5px; float:right;}
