#submit_main_search {
  display: none;
}

p.numero {
  display: inline;
  float: left;
  margin-right: 15px;
  height: 50px;
}

div.capa {
  display: inline;
  clear: both;
}

a.nomedaproposta {
  font-family:Squada One; font-size:24px; color:#419EBB;
  display: block;
}

.proposal {
  clear: both;
}
