.capa {
  margin-top:-5px;
  margin-bottom:10px;
}

.capa, a.nomedaproposta {
  position: relative;
  top: -15px;
}

#baixo input, #baixo textarea {
  border: 2px solid #ccc;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:5px;
}

#baixo textarea {
  width:610px;
}

#esquerda input, #esquerda textarea {
  max-width:200px;
}

#baixo textarea.small {
  height:5em;
}

#baixo textarea.big {
  height:10em;
}

#conteudo .simple_form {
  margin-left: 30px;
}

#baixo .simple_form label, label abbr, .save_button {
  font-size:10px;
  color:black;
}

#baixo input.save_button {
  background:none;
  border:0;
  text-decoration:underline;
}

#conteudo input.save_button {
  margin-left:300px;
}

div.check_boxes {
  width:300px;
  margin-top:5px;
  float:right;
  margin-right:25px;
}

div.check_boxes label.check_boxes {display:none}

div.check_boxes input {margin: 0 10px}

.interact {
  text-align: right;
  margin-right: 15px;
}

#fb-root {
  text-align:right;
}

#login_button { margin-top: 1.5em; position:absolute; right:0 }

.perguntas {
  float: left;
  clear: both;
  margin-bottom: 10px;
  margin-left: 20px;
}

.perguntas h3 {
  display:inline;
  margin-left:10px;
}

#questions_list {
  float:left;
  width: 100%;
  margin: 20px 0 40px 30px;
}

.question {
  position: relative;
  margin-bottom:10px;
  .share {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.acao_curtir img, .acao_naocurtir img {opacity:0.4}
.acao_curtir a.selected img, .acao_naocurtir a.selected img {opacity:1}
.acao_curtir a:hover img, .acao_naocurtir a:hover img {opacity:1}
.acao_curtir a.selected:hover img, .acao_naocurtir a.selected:hover img {opacity:0.4}

.pointer {
  cursor:pointer;
}

.alert-message {
  text-align: center;
  padding: 5px 0;
  width: 1000px;
  color: green;
  background-color: lightGreen;
}

.help-inline {
  color: red;
  display: block;
}

.listadepartidos {
  width: 955px;
}

#candidate_about {
  word-wrap: break-word;
  max-width: 240px;
}
