@import "colors.css.scss";
@import "mixins.css.scss";

#propostas_areas {
  @include border(15px);
  behavior: url(PIE.htc); /* Comportamento adicionado para renderização das propriedades acima no IE 7 e IE 8 */
  padding-top: 2px;
  li {
    font-weight: bold;
    padding-left: 15px;
    line-height: 30px;
    float: left;
    a{
      font-family: Droid Sans, Verdana, Tahoma;
      color: #419EBB;
      font-size: 16px;
      &:hover {
        color: #266b81;
      }
    }
  }
}

.maispropostas {
  margin-bottom: 30px;
  a {
    color: #FF9966;
    text-decoration: none;
    margin-left: 30px;
    &:hover {
      text-decoration: underline;
    }
  }
}

@mixin column(){
  margin-top: 10px;
  margin-right: 10px;
  float: left;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  width: 285px;
}

.propostasmaisdiscutidas {
  @include column;
  a.nomedaproposta {
    font-family: Droid Sans, Verdana;
    font-size: 14px;
    color: #419EBB;
    position: relative;
    &:hover {
      color: #266b81
    }
  }
  .proposta {
    font-family: Droid Sans, Verdana;
    color: #E945A0;
    margin-left: 35px;
    clear: both;
    width: 255px;
  }
  .header {
    margin-left: 65px;
    .icon {
      margin-left: 55px;
      width: 40px;
      border-radius: 5px;
      background: #E945A0;
      height: 30px;
      position: relative;
      .arrow {
        background: url("/assets/pink_bubble_arrow.png");
        position: absolute;
        top: 30px;
        width: 15px;
        height: 9px;
        left: 11px;
      }
    }
    h3 {
      color: #E945A0;
      width: 265px;
      padding: 20px 10px 40px 10px;
      font-size: 20px;
      font-family: Droid Sans, Verdana;
      position: relative;
    }
  }
}

.ultimas-propostas {
  @include column;
  a.nomedaproposta {
    font-family: Droid Sans, Verdana;
    font-size: 14px;
    color: #419EBB;
    position: relative;
    &:hover {
      color: #266b81
    }
  }
  .proposta {
    font-family: Droid Sans, Verdana;
    color: rgba(97,138,200,1);
    margin-left: 35px;
    clear: both;
    width: 255px;
  }
  .header {
    margin-left: 50px;
    .icon {
      margin-left: 89px;
      width: 9px;
      border-radius: 2px;
      background: rgba(97,138,200,1);
      height: 28px;
      position: relative;
      margin-bottom: 3px;
      .arrow {
        background: rgba(97,138,200,1);
        position: absolute;
        top: 30px;
        width: 9px;
        height: 9px;
        border-radius: 2px;
      }
    }

    h3 {
      color: rgba(97,138,200,1);
      width: 265px;
      padding: 20px 10px 30px 10px;
      font-size: 20px;
      font-family: Droid Sans, Verdana;
      position: relative;
    }
  }
}

h3.propostas {
  background: url(/assets/titulo_propostas.png);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 192px;
  height: 54px;
  margin-bottom: 20px;
  clear: both;
}

h2.proposta {
  padding-bottom: 5px;
  margin-bottom: 0px;
  color: #FF9966;
}
h3.proposta {
  margin-bottom: 5px;
  margin-left: 30px;
  color: #FF9966;
}

.proposta h3 {
  padding-bottom: 5px;
  margin-bottom: 15px;
  a {
    text-decoration: none;
    font-size: 16px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.proposta p, .proposta h4 {
  word-wrap: break-word;
}

.proposta p#resumo {
  border-width: 1px;
  border-style: solid;
  border-color: #cdcdcd;
  padding: 15px;
  a {
    color: #FF9966;
    &:hover {
      text-decoration: underline;
    }
  }
}

p.maispropostas {
  padding-bottom: 20px;
  a {
    color: #FF9966;
    &:hover {
      text-decoration: underline;
    }
  }
}

p.voltaraspropostas {
  float: right;
  padding-left: 30px;
  a {
    color: #FF9966;
    &:hover {
      text-decoration: underline;
    }
  }
}

p.maispropostasrodape {
  padding-top: 50px;
}

div.proposta {
  margin-bottom: 5px;
  margin-left: 30px;
  width: 620px;
  padding-bottom: 10px;
  padding-top: 10px;
  clear: both;
  p#descricao a {
    color: #FF9966;
    &:hover {
      text-decoration: underline;
    }
  }
}
.proposta .saibamais {
  margin-top: 10px;
}

h4.editarproposta {
  width: 670px;
  float: left;
  height: 30px;
}

.excluirproposta {
  padding-left: 10px;
  width: 30px;
  height: 30px;
  float: right;
}

.novaproposta .enviar {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  li {
    display: inline;
    padding: 10px;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: #000;
    }
  }
}

.novaproposta {
  .titulo {
    float: left;
    width: 170px;
    div {
      background-image: url('/assets/form_titulo.jpg');
      background-repeat: no-repeat;
      width: 170px;
      height: 40px;
    }
    input {
      height: 30px;
      padding: 5px;
      padding-left: 10px;
      width: 160px;
      background: none;
    }
  }
  .resumo {
    float: left;
    width: 250px;
    div {
      background-image: url('/assets/form_resumo.jpg');
      background-repeat: no-repeat;
      width: 250px;
      height: 40px;
    }
    input {
      height: 30px;
      padding: 5px;
      padding-left: 10px;
      width: 240px;
      background: none;
    }
  }
  .descricao {
    clear: both;
    padding-top: 10px;
    width: 715px;
    div {
      background-image: url('/assets/form_colunainteira.jpg');
      background-repeat: no-repeat;
      width: 715px;
      height: 90px;
    }
    textarea {
      height: 65px;
      min-height: 65px;
      max-height: 65px;
      padding: 10px;
      padding-left: 10px;
      width: 700px;
      max-width: 700px;
      min-width: 700px;
      background: none;
    }
  }
  .tags {
    float: left;
    width: 280px;
    margin-left: 10px;
    margin-right: 5px;
    div {
      width: 25%;
      float: left;
      line-height: 14px;
      .tagstexto {
        margin-bottom: 5px;
        font-size: 9px;
        line-height: 14px;
      }
    }
  }
  input {
    clear: both;
    float: left;
    width: 15px;
    padding-right: 4px;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
}

#conteudo.novaproposta h4 {
  margin-bottom: 10px;
  margin-top: 20px;
}
