doctype html
html
  head
    title Voto Como Vamos - #{yield(:title).presence || 'Página Principal'}

    link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'
    link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"

    = stylesheet_link_tag "application"
    = csrf_meta_tags
    = render 'shared/facebook_meta_tags'
    = render :partial => 'layouts/google_analytics'

  body class=body_class
    #topo
      = render :partial => 'shared/header'


    = yield :conceptual

    #geral class="#{content_for?(:geral_css) ? yield(:geral_css) : 'internas'}"
      #baixo
        - if flash[:notice]
          .alert-message.success
            = h flash[:notice]

        - if flash[:error]
          .alert-message.error
            = h flash[:error]

        #esquerda class="#{yield :esquerda_css}"
          - if content_for?(:left)
            = yield(:left)
          - else
            #conteudo
              = yield

        #direita class="#{yield :direita_css}"
          = yield :right
        #rodape
          .loguinho
            a href="http://blog.poacomovamos.org" target="_blank"
              = image_tag "logo_poacomovamos.jpg", :alt => "Voto Como Vamos"

          address
            | &copy;
            = link_to '2012 Porto Alegre Como Vamos', 'http://blog.poacomovamos.org', :target => :_blank
            |&nbsp;|&nbsp;
            = link_to 'contato@votocomovamos.com.br', 'mailto:contato@votocomovamos.com.br'
            br
            = link_to 'Termos e Condições', '/termsAndConditions.html', :target => :_blank
            |&nbsp;|&nbsp;
            = link_to 'Créditos', '/credits'
            |&nbsp;|&nbsp;
            = link_to 'Como um candidato acessa a plataforma?', '/manualClaim.html', :target => :_blank, :class => 'footer_link'

  script src='http://connect.facebook.net/pt_BR/all.js'
  = javascript_include_tag "application"
